numpy
torch
torchaudio
moviepy
faster-whisper
pyannote.audio
gradio
imageio-ffmpeg
huggingface-hub
pydantic
python-dotenv
transformers
sentence-transformers
librosa
pydub
python-magic
git+https://github.com/huggingface/pyannote-whisper.git


