numpy<2.0.0
torch==2.1.0
torchaudio==2.1.0
moviepy
faster-whisper
pyannote.audio==3.1.1
gradio==4.44.1
starlette<1.0.0
jinja2<3.1.0
imageio-ffmpeg
huggingface-hub==0.25.2
pydantic==2.10.6
python-dotenv
transformers
sentence-transformers
librosa
pydub
python-magic
onnxruntime
soundfile
silero-vad
